/*
  Sudoku
  Tatu Arvela, 2018
*/

body {
  background-image: url("dots.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: url("cursor.png"), auto !important;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

body * {
  cursor: inherit;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-width: 0;
}

.wrapper {
  position: relative;
  background-color: white;
  margin: auto;
  box-shadow: 2px 2px black;
  border-width: 2px;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  display: block;
  width: 100%;
  padding: 17px 0;
  background: url("title.png");
  border-bottom-width: 2px;
}

.grid {
  display: block;
  width: 248px;
  margin: 15px;
}

.cell {
  background: white;
  border-radius: 0;
  border-width: 1px;
  box-sizing: content-box;
  color: transparent;
  font-weight: bold;
  height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 24px;
}

.cell:nth-child(3n+1) {
  border-left-width: 2px;
}

.cell:nth-child(3n+3) {
  border-right-width: 2px;
  margin-right: 4px;
}

.cell:nth-child(9n+9) {
  margin-right: 0;
}

.cell:nth-child(27n+1),
.cell:nth-child(27n+2),
.cell:nth-child(27n+3),
.cell:nth-child(27n+4),
.cell:nth-child(27n+5),
.cell:nth-child(27n+6),
.cell:nth-child(27n+7),
.cell:nth-child(27n+8),
.cell:nth-child(27n+9) {
  border-top-width: 2px;
}

.cell:nth-child(27n+19),
.cell:nth-child(27n+20),
.cell:nth-child(27n+21),
.cell:nth-child(27n+22),
.cell:nth-child(27n+23),
.cell:nth-child(27n+24),
.cell:nth-child(27n+25),
.cell:nth-child(27n+26),
.cell:nth-child(27n+27) {
  border-bottom-width: 2px;
}

.cell:nth-child(27n+28),
.cell:nth-child(27n+29),
.cell:nth-child(27n+30),
.cell:nth-child(27n+31),
.cell:nth-child(27n+32),
.cell:nth-child(27n+33),
.cell:nth-child(27n+34),
.cell:nth-child(27n+35),
.cell:nth-child(27n+36) {
  margin-top: 4px;
}

.cell:focus {
  outline: none;
  filter: invert(100%);
  border-color: white;
}

.controls {
  margin: 0 15px 15px 15px;
  display: flex;
  text-align: left;
}

.brain {
  position: relative;
  display: inline-block;
  padding: 40px;
  background-image: url("brain.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-width: 2px;
  margin-right: 2px;
  animation-name: bounce;
  animation-duration: 8000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.indicator {
  display: block;
  position: absolute;
  bottom: 2px;
  right: 2px;
  height: 16px;
  width: 16px;
}

.will-solve {
  animation-duration: 2000ms;
}

.no-solution {
  animation: none;
}

.no-solution > .indicator {
  background-image: url("none.png");
}

.single-solution > .indicator {
  background-image: url("single.png");
}

.multiple-solutions > .indicator {
  background-image: url("multiple.png");
}

@keyframes bounce {
  0% {
    background-position: 50% 40%;
  }
  50% {
    background-position: 50% 60%;
  }
  100% {
    background-position: 50% 40%;
  }
}

.buttons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 168px;
  overflow: hidden;
  margin: -4px;
  position: relative;
  left: 4px;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 6px 35px;
  border-width: 2px;
  color: black;
  box-shadow: 2px 2px black;
  margin: 4px;
  background: white no-repeat 50% 50%;
}

.button:focus {
  outline: none;
  filter: invert(100%);
  border-color: white;
  box-shadow: 4px 4px white;
}

.button:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 black;
}

.hint {
  background-image: url("hint.png");
}

.solve {
  background-image: url("solve.png");
}

.clear {
  background-image: url("clear.png");
}

.newPuzzle {
  background-image: url("newPuzzle.png");
}
