/*
  sudoku-solver-js
  Tatu Arvela, 2018
*/

body {
  background: #b9b9b9;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  background: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  width: 240px;
  box-shadow: 2px 2px black;
  border: 2px solid black;
}

input, button {
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
  text-align: center;
  outline: none;
}



.grid {
  display: block;
  width: calc(25px*9 + 2*2px);
  margin: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

#grid-output {
  border-color: #686868;
}

.row {
  border-bottom-width: 0px;
  border-bottom-style: inherit;
  border-color: inherit;
}

.row:nth-child(3n+3) {
  border-bottom-width: 2px;
}

.row:nth-child(9n+9) {
  border-bottom-width: 0px;
}

.cell {
  color: transparent;
  background: transparent;
  width: 23px;
  height: 23px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

.cell:nth-child(3n+3) {
  border-right-width: 3px;
}

.cell:nth-child(9n+9) {
  border-right-width: 1px;
}

.cell:focus {
  background: #b9b9b9;
}



#solve {
  height: 60px;
  line-height: 60px;
  width: 231px;
  margin: 4px;
  padding: 0px;
  display: block;
  border-color: #000000;
  border-width: 2px;
  color: #000000;
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px #000000;
  background-image: url("brain.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 0.2s;
}

#solve:focus {
  box-shadow: 2px 2px #000000, inset 4px 4px #b9b9b9, inset -4px -4px #b9b9b9;
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%   {background-position: 50% 50%;}
  50%  {background-position: 50% 70%;}
  100% {background-position: 50% 50%;}
}

#solve:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px #000000;
}

#solve[disabled] {
  border-color: #686868;
  transform: translate(0px, 0px);
  box-shadow: 0px 0px #000000;
}

.status {
  position: relative;
  display: block;
  width: 100%;
  height: 22px;
}
.status > * {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  opacity: 0;
}



::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}
