/*
  ＳＵＤＯＫＵ
  Tatu Arvela, 2018
*/

/* General */

body {
  background: #b9b9b9;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  position: relative;
  background-image: url("bg.png");
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  height: 334px;
  min-height: 334px;
  width: 240px;
  min-width: 240px;
  box-shadow: 2px 2px black;
  border: 2px solid black;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* Grid */

.grid {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: block;
  width: 229px;
  margin: 4px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.row {
  border-bottom-width: 0px;
  border-bottom-style: inherit;
  border-color: inherit;
}

.row:nth-child(3n+3) {
  border-bottom-width: 2px;
}

.row:nth-child(9n+9) {
  border-bottom-width: 0px;
}

.cell {
  text-align: center;
  outline: none;
  color: transparent;
  background: transparent;
  width: 23px;
  height: 23px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

.cell:nth-child(3n+3) {
  border-right-width: 3px;
}

.cell:nth-child(9n+9) {
  border-right-width: 1px;
}

.cell:focus {
  background: #b9b9b9;
}


/* Brain */

#brain {
  position: absolute;
  bottom: 14px;
  left: 14px;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  background-image: url("brain.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #000000;
  box-shadow: 4px 4px inset #b9b9b9, -2px -2px inset #b9b9b9;
  box-sizing: border-box;
  animation-name: bounce;
  animation-duration: 8000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.active {
  animation-duration: 2000ms !important;
}

@keyframes bounce {
  0%   {background-position: 50% 40%;}
  50%  {background-position: 50% 60%;}
  100% {background-position: 50% 40%;}
}


/* Buttons */

#buttons {
  position: absolute;
  bottom: 14px;
  right: 14px;
  height: 80px;
  width: 144px;
}

.button {
  background: #ffffff;
  text-align: center;
  outline: none;
  position: absolute;
  width: 40px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  line-height: 25px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  color: #000000;
  transform: translate(-3px, -3px);
  box-shadow: 4px 4px #000000;
}

.button:focus {
  background: #b9b9b9;
}

.button:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 0px #000000;
}

.icon {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 4px;
  bottom: 22px;
  margin: auto;
  opacity: 1;
}

#hint {
  left: 0px;
  top: 0px;
}

#solve {
  left: 52px;
  top: 0px;
}

#clear {
  right: 0px;
  top: 0px;
}
